.order-success-container {
    text-align: center;
    margin-top: 100px;
    background-color: #fffbe7;
    margin: 0px 20px ;
    padding-bottom: 250px;
    align-items: center;
    justify-content: center;
     text-align: center;
     display: flex;
  
     height: 90vh;
     text-align: center;
  }
  

  
  .order-success-box {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .tracking-box {
    margin: 20px 0;
    font-size: 1.1rem;
    color: #333;
    background: #eaf7ea;
    padding: 10px;
    border-radius: 8px;
  }
  
  .continue-shopping-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .continue-shopping-button:hover {
    background-color: #45a049;
  }